Shop Titans/Automation/SubFunctions/GatherInfo/GemTracker/images/*
Shop Titans/Config.txt
Shop Titans/Automation/InfoBroker/*.txt
Shop Titans/shop_titans_ml
Shop Titans/Automation/SubFunctions/GatherInfo/GemTracker/TimeStamp.txt
Shop Titans/Automation/InfoBroker/InventoryCapacity.txt
Shop Titans/tmp
